/* * {
    margin: 0px;
    padding: 0px;
} */

.contain {
    height: 7vh;
    width: 100%;
    /* background-color: aqua; */
    font-family: sans-serif;
}

.box {
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.box1 {
    height: 100%;
    width: 45%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    padding-left: 35px;
    padding-top: 20px;
}
.box2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 100%;
    /* border: 2px solid black; */
    font-size: 14px;
    padding-right: 25px;
    padding-top: 15px;

}
.box2 ion-icon{
    font-size: 20px;
    
    /* background-color: yellow; */
}