.Dslider{
    /* margin-top: 20px; */
    height: 350px;
    width: 99.80%;
    /* background-color: grey; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    column-gap: 20px;
    position: relative;
}
.Dslider img{
    height: 250px;
    width: 300px;
    /* border: 2px solid red; */
    box-shadow: 5px 5px 5px 5px grey;

}
.Dslider ion-icon{
font-size: 40px;
color: black;
}
.Dslider .next{
    position: absolute;
    top: 130px;
    width: 50px;
    height: 35px;
    right: 0px;
    background-color: transparent;
}
.Dslider .prev{
    position: absolute;
    top: 130px;
    width: 50px;
    height: 35px;
    left: 0px;
    background-color: transparent;
}